html, body {
    height: 100%;
    width: 100%;
    z-index: 0;
}

body {
    background-image: url("./Img/BackGround.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;  
    align-items: center;
    text-align: left;
    margin: 0;  
}

.main-container {
    padding-top: 10rem;
    color: white;
}

.intro h1 {
    font-size: 100px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro h5 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#var {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-header {
    color: white;
}

.card-body {
    text-align: center;
}

.card-holder {
    margin: auto;
}

.card {
    margin-top: 10%;
}

.card input {
    border-radius: .5rem;
    box-shadow: none;
}

#logout {
    display: none;
}

#toggle {
    position: absolute;
    top: 53%;
    right: 19%;
}